@import "tailwindcss";

@theme {
  --color-amber: #FFBF00;
  --color-sage: #A2B6A1;
  --color-blush: #E2B4BD;
  --color-clay: #A47E77;
  --color-stone: #6B3A4A;
  --color-cream: #FDFCF8;

  --font-serif: var(--font-roboto-mono), monospace;
  --font-sans: var(--font-roboto-mono), monospace;
}

:root {
  --background: #FDFCF8;
  --foreground: #6B3A4A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
